* {
    box-sizing: border-box;
    margin: 10px 10px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    background-color: #44444e;
    color: #f0f0f0;
    padding: 20px 20px;
}

img {
    max-width: 1600px;
    width: 100%;
    height: auto;
    opacity: 70%; /*opacity set for images "mha.png" and "mha1.png"*/
}

.imageBackground {
    width: 100%;
    height: 600px;
    background-image: url(pics/mha5.jpg);
    background-size: cover;
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #ffffff; /*font color*/
}

.forFilter {
    filter: grayscale(); /*filter set for "mha1.png"*/
}